# API endpoints
HONO_API_URL=REPLACE_ME
NEXT_PUBLIC_HONO_API_URL=REPLACE_ME
NEXT_PUBLIC_API_URL=REPLACE_ME

# Admin Email configuration
NEXT_PUBLIC_ADMIN_EMAIL=REPLACE_ME

# Sentry
NEXT_PUBLIC_SENTRY_DSN=REPLACE_ME

# Appwrite Configurations
NEXT_PUBLIC_APPWRITE_ENDPOINT=https://cloud.appwrite.io/v1
NEXT_PUBLIC_APPWRITE_PROJECT_ID=REPLACE_ME
NEXT_PUBLIC_APPWRITE_DB_ID=Evansh
NEXT_PUBLIC_APPWRITE_PROJECTS_COLLECTION_ID=projects
NEXT_PUBLIC_APPWRITE_CONTACT_COLLECTION_ID=contact
NEXT_PUBLIC_APPWRITE_BUCKET_ID=project-images

# Secrets (Server-only)
REVALIDATE_SECRET=REPLACE_ME
RESEND_API_KEY=REPLACE_ME
